/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/united/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';

body {
    position:absolute;
    margin: 0px;
    overflow: hidden;
    top:0px;
    bottom: 0px;
    width: 100%;
}